@charset "UTF-8";
:root {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F4F0;
}

#container {
  width: 1120px;
  margin: 100px auto;
}

.headline {
  margin-bottom: 40px;
  text-align: left;
  text-transform: uppercase;
  color:#E1624F;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  color: #1B1B1B;
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 40px;
}

#description {
  color: #333333;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 0px 0px 64px 0px;
  background-color: #d9d9d9;
}

h2 {
  color: #1B1B1B;
  text-align: left;
  font-weight: bold;
  font-size: 32px;
  margin-top: 10px;
}

#description2 {
  color: #333333;
  text-align: left;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 64px;
}

h3 {
  color: #1B1B1B;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  margin-top: 10px;
  padding-left: 35px;
}